<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.localizadorapp">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocalizadorApp">
        <activity android:name=".act.DrivingProtection"></activity>
        <activity android:name=".act.MostVisited" />
        <activity android:name=".act.ManageInvitations" />
        <activity android:name=".act.EmergancyContact" />
        <activity android:name=".act.BaterryAlertScreen" />
        <activity android:name=".act.ToDoList" />
        <activity android:name=".act.ManageMebersCircles" />
        <activity android:name=".act.MyAccountActivity" />
        <activity android:name=".act.SettingActivity" />
        <activity android:name=".act.SendFeedbaackReport" />
        <activity android:name=".act.FaqScreen" />
        <activity android:name=".act.PurchaseItemsActivity" />
        <activity android:name=".act.ShariingHistory" />
        <activity android:name=".act.MenuActivity" />
        <activity android:name=".act.TermsActivity" />
        <activity android:name=".act.PrivacyPolicy" />
        <activity android:name=".act.SupportScreen" />
        <activity android:name=".act.BenifitActiviity" />
        <activity android:name=".act.NotificationScree" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.WellCOmeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".act.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>